<footer>
	<div class="grid-container">
		<div class="grid-item spacer small-0 medium-1 large-1"></div>
		<div class="grid-item small-12 medium-3 large-3">
			<h5>MakeThis</h5>
			<nav>
				<ul>
					<li><a href="/tos#faq">FAQ</a></li>
					<li><a href="/jobs">Jobs</a></li>
					<li><a href="/support">Support</a></li>
				</ul>
			</nav>
		</div>
		<div class="grid-item grid-spacer small-0 medium-1 large-1"></div>
		<div class="grid-item small-12 medium-3 large-3">
			<h5>Other things</h5>
			<nav>
				<ul>
					<li><a href="#">Link Text</a></li>
					<li><a href="#">Link Text</a></li>
					<li><a href="#">Link Text</a></li>
				</ul>
			</nav>
		</div>
		<div class="grid-item grid-spacer small-0 medium-1 large-1"></div>
		<div class="grid-item small-12 medium-3 large-3">
			<h5>Find us</h5>
			<nav>
				<ul>
					<li><a href="#">Facebook</a></li>
					<li><a href="#">Twitter</a></li>
				</ul>
			</nav>
		</div>
	</div>
</footer>
