<section class="strata white item-filters">
    <nav class="grid-container">
        <div class="grid-item small-6 medium-4 large-3">
            <div class="search-container">
                <input type="search" class="js-search" placeholder="Search" />
                <div class="search-results">
                    <div class="project-results"></div>
                    <div class="design-results"></div>
                    <div class="code-results"></div>
                    <div class="user-results"></div>
                </div>
            </div>
        </div>
        <ul class="grid-item small-6 medium-8 large-9">
            <li class="js-filter-projects">Popular</li>
            <li class="js-filter-projects">Recent</li>
            <li class="js-filter-projects">Starred</li>
        </ul>
    </nav>
</section>
